# Build outputs
build/
*.apk
*.aab
*.zip

# Dart & Flutter
.dart_tool/
.packages
.pub/

# Android
.gradle/
local.properties
*.jks
*.keystore
key.properties

# iOS/macOS
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Pods/
macos/.symlinks/

# Editor configs
.idea/
*.iml

# Temporary / Generated
.cxx/
captures/

# Env files
.env
